@charset "UTF-08";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

*{
    margin:0px;
    padding:0px;
}

:root{
    --fonte-destaque:'Passion One', sans-serif;
}

html, body{
    min-width: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color:white;
    text-align: center;
   
    
    
    
}

header h1{
    font-family: var(--fonte-destaque);
    font-size: 8vh;
    padding-top: 50px;
    font-variant: small-caps; /*Torna as letras maiusculas, porém não tão gritante */
}

header > p{
   
    
    padding-bottom: 50px;
}

 header a, footer a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    
    
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 20px;
}

section.normal{
    background-color: white;
    color:black;
}

section.imagem{
    background-color:rgb(77, 77, 77) ;
    color:white;
}

section.imagem >p{
    background-color: rgba(0, 0, 0, 0.452);
    width: 350px;

}

header a:hover, footer a:hover{
    text-decoration: underline;
}

footer{
    background-color: black;
    text-align: center;
    color:white;
    padding: 10px;
}
