

/* Simplificando os grid itens */



*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 10px;
    
}

.item1{
    background-color: rgb(219, 219, 137);
    grid-area: 1 1 / 4  1;
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
   
}

.item2{
    background-color: rgba(255, 0, 0, 0.774);
    grid-column: 1 / span 2;
    grid-row: 2 / 5;
}

.item3{
    background-color: chocolate;
    grid-column: 3 / span 2;
    grid-row: 2 / 5;
}